@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/Recolate-Regular.woff2") format("woff2"),
    url("/fonts/recoleta/Recolate-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}