@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/recoleta/Recolate-Regular.woff2') format('woff2'),
    url('/fonts/recoleta/Recolate-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Proxima Nova font files */
@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proximanova/ProximaNova-Light.woff2') format('woff2'),
    url('/fonts/proximanova/ProximaNova-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proximanova/ProximaNova-Regular.woff2') format('woff2'),
    url('/fonts/proximanova/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proximanova/ProximaNova-Bold.woff2') format('woff2'),
    url('/fonts/proximanova/ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}