/* Import Google Fonts first */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Then import Tailwind */
@import "tailwindcss";

/* Custom font classes */
.recoleta-font {
  font-family: "Recoleta", serif;
}

.recoleta-light {
  font-family: "Recoleta", serif;
  font-weight: 300;
}

.recoleta-regular {
  font-family: "Recoleta", serif;
  font-weight: 400;
}

.recoleta-bold {
  font-family: "Recoleta", serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Recoleta", serif;
  font-weight: 600;
}
